.bringButton {
    padding: 8px 12px;
    background-color: #37474F;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: var(--default-fonts), serif;
}

.bringButton:hover {
    background-color: #2C393F;
}

.bringLogo {
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
}
