version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "Dependency"

  - package-ecosystem: "npm"
    directory: "/backend"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "Dependency"
