.recipeCardsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.recipeCard {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: var(--color-white);
    box-shadow: 0 4px 8px var(--color-shadow);
    height: 100%;
}

.recipeCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px var(--color-shadow-hover);
}

.recipeCardImageContainer {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.recipeCardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.recipeCardImage:hover .recipeCardImage {
    transform: scale(1.05);
}

.recipeCardContent {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}

.recipeCardTitle {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 1.2rem;
    font-weight: 600;
}

.recipeCardButton, .addRecipeButton {
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.recipeCardButton {
    margin-top: auto;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 500;
}

.addRecipeButton {
    font-size: 1.2rem;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 8px;
    border-color: transparent;
    padding: 0;
}

.addRecipeButton:hover,
.recipeCardButton:hover {
    background-color: var(--color-primary-dark);
    text-decoration: none;
}
